[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AMPLE"]
	path = AMPLE
	url = https://github.com/pacificcommunity/ofp-sam-ample
[submodule "condor"]
	path = condor
	url = https://github.com/pacificcommunity/condor
